/* universal reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
/* body */
body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(180deg, #00000000 0%, #0000004d 100%),url(img/background.png) center no-repeat ;
  max-width: 1920px;
  height: 100vh;
}
header {
  max-width: 1210px;
  top: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
span {
  display: block;
}
.one {
  font-size: 28px;
  font-weight: 900;
}
.two {
  font-size: 12px;
  font-weight: 700;
}
.btn {
  column-gap: 17px;
}
.btn a {
  width: 162px;
  height: 49px;
  padding: 15px 45px;
  border-radius: 4px;
  border: 1px solid #ffffff;
}
/* main */
main {
  max-width: 1205px;
  height: 428px;
  margin: 150px auto;
}
.title h1 {
  width: 524px;
  max-height: 155px;
  font-size: 50px;
}
.right-hero-main {
  width: 629px;
  height: 428px;
  background-color: #ffffff;
  box-shadow: 0px 4px 30px 0px #00000040;
  padding: 35px 25px;
  border-radius: 10px;
}
.form-label-input {
  flex-wrap: wrap;
  margin-top: 31px;
}
.label-input {
  flex-direction: column;
  margin-bottom: 31px;
  position: relative;
}
label {
  font-size: 12px;
  font-weight: 400;
}
.label-input input, select {
  margin-top: 12px;
  min-width: 277px;
  height: 49px;
  background-color: #efefef;
  padding-left: 45px;
  border-radius: 10px;
  font-size: 16px;
}
.label-input img {
  top: 38px;
  left: 10px;
}
.search {
  text-align: right;
  position: relative;
}
.search i {
  top: 16px;
  right: 126px;
}
.search input {
  border-radius: 4px;
  width: 190px;
  height: 49px;
  font-size: 16px;
  padding: 15px 45px;
  cursor: pointer;
}
.txt-white {
  color: #ffffff;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.border-none {
  border: none !important;
}
.absolute {
  position: absolute;
}
.txt-mediume {
  font-weight: 500;
}
.txt-center {
  text-align: center;
}
.justify-between {
  justify-content: space-between;
}
.bg-purple {
  background-color: #593de4;
}